body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Make the body take up full viewport height */
    margin: 10px !important;
    padding: 10px !important;
    /* Remove default margin */
    background-color: #ffffff;
    /* Optional: Light background color */
}


.form-title{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}